
body{
 background:#111;
 color:#fff;
 font-family:sans-serif;
}

.box{
 border:1px solid #555;
 padding:10px;
 margin:10px;
 min-height:120px;
}

.char{
 background:#222;
 padding:6px;
 margin:4px;
 cursor:grab;
}
